<div class="temp_div">
    <div class="td_footer">
        <div class="tdf_top">
            <div class="tdft_div">
                <div class="tdft_pro"><a href="#">网站功能</a></div>
                <div class="tdftp_01"><a target="_blank" href="#">网站介绍</a></div>
                <div class="tdftp_01"><a target="_blank" href="#">功能介绍</a></div>
                <div class="tdftp_01"><a target="_blank" href="#">广告服务</a></div>
            </div>
            <div class="tdft_div">
                <div class="tdft_pro"><a href="#">联系我们</a></div>
                <div class="tdftp_01" style="text-align:center;margin-left:0;">
                    <a target="_blank" href="#">315764765@qq.com</a>
                </div>
                <div class="tdftp_01" style="text-align:center;margin-left:0;"><a target="_blank" href="#">422386546@qq.com</a></div>
            </div>
            <div class="tdft_div">
                <div class="tdft_pro"><a href="#">友情合作</a></div>
                <div class="tdftp_01"><a target="_blank" href="http://www.hx-titanium.com/">陕西涵翔科技</a></div>
                <div class="tdftp_01"><a target="_blank" href="http://wangjiatao.diandian.com/">尘封の烟雨博客</a></div>
                <div class="tdftp_01"><a target="_blank" href="http://luguizhou.diandian.com/">旋风の之卢博客</a></div>
            </div>
            <div class="tdft_div">
                <div class="tdft_pro"><a href="#">支持帮助</a></div>
                <div class="tdftp_01"><a target="_blank" href="#">反馈中心</a></div>
                <div class="tdftp_01"><a target="_blank" href="#">常见问题</a></div>
                <div class="tdftp_01"><a target="_blank" href="#">我要加入</a></div>
            </div>
            <div class="tdft_div" style="border: none;">
                <div class="tdft_pro"><a href="#">版权隐私</a></div>
                <div class="tdftp_01"><a target="_blank" href="#">版权声明</a></div>
                <div class="tdftp_01"><a target="_blank" href="#">隐私</a></div>
                <div class="tdftp_01"><a target="_blank" href="#">警告</a></div>
            </div>
        </div>
        <div class="tdf_bottom">
            Copyright ©www.vshared.cn  All Rights Reserved. 京ICP证080066号 京公网安备110000000066号
        </div>
    </div>
</div>